<div style="background-color: <?php echo $this->getData('background-color'); ?>;">
<p>Top content. Will be see in all page</p>
</div>
<a href="<?= $block->escapeUrl($block->getUrl('training_render/layout/onepage')) ?>"> My super link </a>
